#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* MODIFICATION */
/* .photograph-header article {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
} */

.photograph-header h1 {
    color: #D3573C;
    font-size: 4em;
    margin:0;
    font-weight: 400;
}

.photograph-header h2, .media-section p {
    color: #901C1C;
    font-size: 1.2em;
    margin:0;
    font-weight: 400;
}

.photograph-header p {
    font-size: 1.1em;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 100px;   
    object-fit: cover;
    overflow-clip-margin: unset;
}

.media-section {
    margin: 80px 100px;
}

.media-section .sort {
    display:flex;
    /* gap: 30px; */
    position:relative;
}

.media-section .sort-by {
    font-size: 1em;
    color:black;
    font-weight: 700;
}

.media-section .select {
    position:absolute;
    width: 170px;
    background-color: #901C1C;
    border-radius: 5px;
    padding: 0 10px;
    left: 100px;
    top: -10px;
}

.media-section .hidden {
    display:none;
}

.media-section button {
    background-color:transparent;
    color:white;
    border: none;
    outline:none;
    padding: 15px 5px;
    font-weight: 700;
    font-size: 0.9em;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor:pointer;
}

.media-section .hidden button:nth-child(1) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.arrow-up::before, .arrow-down::before {
    color:white;
}

.arrow-up {
    transform:rotateZ(0);
}

.arrow-down {
    transform:rotateZ(180deg);
}

.wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 75px;
    margin-top: 20px;
    /* display:flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.media-section article {
    margin: 20px 0;
    width: 350px;
}

.media-section img, .media-section video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 2%;
    overflow-clip-margin: unset;
}

.media-section .container-like, .media-section .container-desc {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.media-section i {
    cursor: pointer;
    font-size: 1.2em;
    color: #901C1C;
    margin-left: 5px;
}