/* HIDDEN */
.hidden {
    display:none !important;
}


/* PHOTOGRAPHER HEADER */
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.photograph-header h1 {
    color: #D3573C;
    font-size: 4em;
    margin:0;
    font-weight: 400;
}

.photograph-header h2, .media-section p {
    color: #901C1C;
    font-size: 1.5em;
    margin:0;
    font-weight: 400;
}

.photograph-header p {
    font-size: 1.1em;
}

.contact_button {
    order: 2;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.photograph-header .contact_button:focus,  .photograph-header .contact_button:hover {
    background-color: #DB8876;
    color: black;
}

.photograph-header img {
    order: 3;
    height: 200px;
    width: 200px;
    border-radius: 100px;   
    object-fit: cover;
    overflow-clip-margin: unset;
}


/* MODAL CONTACT*/
#contact_modal {
    z-index: 2;
    position:fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    background-color: rgba(255, 255, 255, 0.506);
    overflow-y: auto;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px 35px 35px;
    margin: auto;
}

.modal header {
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    align-items: start;
}

.modal h1 {
    margin: 0px;
    font-size: 64px;
    font-weight: normal;
    color: black;
}

.modal header img {
    cursor: pointer;
    margin-top: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal input::placeholder, .modal textarea::placeholder {
    font-size: 1.5em;
}

form input, form textarea {
    width: 100%;
    padding: 25px 0;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    text-indent: 10px;
}

.wrong {
    border: 2px solid #901C1C;
}

form textarea {
    height: 100px;
    font-size: 1.2em;
}

.error-msg {
    color: black;
    margin-top:0;
    font-weight: bold;
}

.modal .contact_button:focus,  .modal .contact_button:hover {
    transform: scale(1.05);
}


/* LIGHT BOX */
#light_box {
    z-index: 2;
    position:fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
}

#close_light_box {
    position: absolute;
    top: 0;
    right: 0;
    cursor:pointer;
}

.container_light_box {
    position: relative;
    display:flex;
    align-items: center;
}

.thumbnail {
    width: 1050px;
    height: 850px;
    object-fit: cover;
    border-radius: 2%;
}

#light_box .fa-solid {
    color: #901C1C;
    font-size: 5em;
    cursor: pointer;
    background-color: transparent;
    border:none;
}

#light_box .fa-chevron-right {
    margin-left: 50px;
}

#light_box .fa-chevron-left {
    margin-right: 50px;
}

#light_box h1 {
    margin: 0;
    width: 100%;
}


/* RATE CONTAINER */
.rate-container {
    position: fixed;
    bottom: 0;
    right: 200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 356px;
    height: 89px;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    padding: 0 20px;
}

.rate-container p {
    font-weight: 500;
    font-size: 1.5em;
}

.rate-container em {
    margin-left: 5px;
}


/* MEDIAS SECTION */
.media-section {
    margin: 80px 100px;
}

.media-section button {
    background-color:transparent;
    color:white;
    border: none;
    outline:none;
    padding: 15px;
    font-weight: 700;
    font-size: 0.9em;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor:pointer;
}

/* FILTER */
.media-section .sort {
    display:flex;
    position:relative;
}

.media-section .sort-by {
    font-size: 1em;
    color:black;
    font-weight: 700;
}

.media-section .select {
    position:absolute;
    width: 170px;
    background-color: #901C1C;
    border-radius: 5px;
    z-index: 1;
    left: 100px;
    top: -10px;
}

.select button:nth-child(2) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.arrow-up::before, .arrow-down::before {
    color:white;
    font-size: 1.1em;
}

.arrow-down {
    transform:rotateZ(0);
}

.arrow-up {
    transform:rotateZ(180deg);
}

.select button:focus, .select button:hover {
    outline: black solid 1px;
    border-radius: 5px;
    background-color: #DB8876;
    color:black;
}

/* MEDIA CARDS */
.media_cards_list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 75px;
    margin-top: 20px;
    padding: 0;
}

.media-section li {
    margin: 20px 0;
    width: 350px;
    list-style: none;
}

.media-section .thumbnail {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 2%;
    overflow-clip-margin: unset;
    transition: transform 0.3s;
    cursor:pointer;
}

.media-section .thumbnail:hover, .media-section .thumbnail:focus {
    transform: scale(1.03);
}

.media-section .container-like, .media-section .container-desc {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.media-section .container-desc {
    gap: 15px;
}

.container-like button {
    cursor: pointer;
    font-size: 1.2em;
    color: #901c1cbc;
    transition: color 0.3s;
    padding:0;
}

.container-like .liked, .container-like button:hover {
    color: #901C1C;
}

.container-like button:focus {
    outline: 2px solid black;                
}